<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Missions! <%= @mission.user.first_name %></h1>
    <h3>Alert No. <%=@num%></h3>
    <p>
      It is time to check your mission - <%=@mission.title%><br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>